@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    background-color: red;
    
  }
  .news-card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    height: 600px;
    margin-top: 50px;
 
   
    
  }
 
}
